﻿
@{
    ViewBag.Title = "Html";
}

<h2>Html</h2>


<p>姓名 : <input type="text" name="name" value="" /></p>
<p>account : <input type="text" name="name" value="" /></p>
<p>password : <input type="password" name="name" value="" /></p>
<P>
    性別 :
    <input type="radio" name="gender" value="A" />man
    <input type="radio" name="gender" value="B" />women
</P>
<p>
    興趣 :
    <input type="checkbox" name="h-1" value="A" /> swimming
    <input type="checkbox" name="h-1" value="B" /> play baseball
    <input type="checkbox" name="h-1" value="C" /> biking
</p>
<p>
    關於我 : <textarea></textarea></p>
<p><h1 style="background-color:DodgerBlue;">老師好正</h1></p>



