﻿@model  s1063718_0505.ViewModel.BMIData

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<form action="/BMI/Index" method="post">
    <p>@Html.DisplayNameFor(a=>a.身高):@Html.TextBoxFor(a =>a.身高)@Html.ValidationMessageFor(h=>h.身高)</p>
    <p>@Html.DisplayNameFor(a => a.體重):@Html.TextBoxFor(a => a.體重)@Html.ValidationMessageFor(h => h.體重)</p>
    <p><input type="submit" name="name" value="送出" /></p>
</form>


<p>計算結果:@Model.Result</p>
<p>等級:@Model.Level</p>
